button {
     :hover {
        cursor: pointer;
    }
}

#name {
    background: rgb(221, 221, 221);
    font-family: monospace;
    font-size: 16px;
    padding: 0.5em;
    margin: 0.5em;
    float: right;
}

button {
    height: 50px;
    width: 50px;
    margin: 10px;
    border: none;
    border-radius: 2px;
    display: inline-block;
}

button.current {
    box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}

div {
    border: solid black;
}